
<div id="footer" class="d-flex justify-content-between">

  <div id="copyright" class="nav justify-content-center">
      <p>Copyright Gaetano Herman © {{ currentYear }} </p>
  </div>

  <ul id="icons" class="nav justify-content-center">
      <li class="nav-item">
          <a href="https://github.com/GaetanoH" target="_blank">
            <i class="fab fa-github"></i>
          </a>
      </li>
      <li class="nav-item">
        <a href="https://stackoverflow.com/users/7686865/gaetano-herman" target="_blank">
          <i class="fab fa-stack-overflow"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/gaetano-herman-4302bb105/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
</div>
