.header {
    height: 100vh;
    width: 100wh;
    color: #fff;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}

.content {
  text-align: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fas {
  color: #2A9D8F;
}

#icon {
  display: inline-block;
  width: 100%;
  text-align: center;
}

a:link, a:visited, a:active { color: #2A9D8F ; text-decoration: none }

a:hover {
  text-decoration: none;
  color: #77C0B7;
}


.title a {
  color: #2A9D8F;
  text-decoration: none;
}

.title a:hover {
  text-decoration: none;
  color: #77C0B7;
}
